{% extends 'catalog/base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="description mid-checkout-content">
            <br><p itemprop="description">Клиент: {{ object.full_name }}</p><br>
                 <p>Email: {{ object.email }}</p><br>
                 <p>Комментарий: {{ object.message }}</p>
        </div>
        <div class="col">
            <div class="btn-group">
                <a href='{% url "mailing:client_update" object.pk %}' type="button"
                   class="btn btn-outline-warning">Изменить</a>
                <a href='{% url "mailing:delete_client" object.pk %}' type="button"
                   class="btn btn-outline-danger">Удалить</a>
            </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
