{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<h2>{{ object.title }} ({{ object.slug }})</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ object.preview|mymedia }}" class="leftpic" alt="Card image cap" width="450" height="350">
        </div>
        <div class="col">
            <div class="description mid-checkout-content">
            <br> <p itemprop="description">Описание: {{ object.content }}</p><br>
                 <p>Просмотры: {{ object.views_count }}</p>

            <br> <p><small class="text-body-secondary fw-light">{{ object.created_at }}</small></p>
        </div>
        <div class="col">
            <div class="btn-group">
                <a href='{% url "catalog:blog_update" object.pk %}' type="button"
                   class="btn btn-outline-warning">Изменить</a>
                <a href='{% url "catalog:blog_delete" object.pk %}' type="button"
                   class="btn btn-outline-danger">Удалить</a>
            </div>

        </div>
      </div>
    </div>
</div>
{% endblock %}
