{% extends 'catalog/base.html' %}

{% block title %}
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <div class="pricing-header p-1 pb-md-5 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Каталог</h1>
      <p class="lead">{{ title }}</p>
    </div>
  </div>
{% endblock %}

{% block content %}
      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center d-flex align-items-stretch">
        {% for object in object_list %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">{{ object.name|title }}</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>{{ object.description|truncatechars:100 }}</li>
              </ul>
              <a href='{% url "catalog:flowers" object.pk %}' type="button" class="w-100 btn btn-lg btn-primary">К цветам</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
{% endblock %}
