<!doctype html>
<html lang="en">
<div class="container py-3">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>K-Shop</title>
      <link href="/static/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">SkyStore</h5>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Главная</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Каталог</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Контакты</a>
      </nav>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Контакты</h1>
      </div>
    <div class="container">
            <div class="row text-start">
                <div class="col-6">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                  <td scope="col">Страна</td>
                                  <td scope="col">USA</td>
                                </tr>
                                <tr>
                                  <td>ИНН</td>
                                  <td>91-1144442</td>
                                </tr>
                                <tr>
                                  <td>Адрес</td>
                                  <td>Redmond,WA,98052-6399</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

        <div class="col-4">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name">Имя</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Телефон</label>
                            <input type="text" name="phone" class="form-control" id="phone" placeholder="Контактный телефон" required>
                        </div>
                        <div class="mb-3">
                            <label for="message">Сообщение</label>
                            <textarea name="message" class="form-control" id="message" placeholder="Сообщение" required></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-3 col-md">
        <small class="d-block mb-3 text-body-secondary">SkyStore &copy; 2023</small>
      </div>
      <div class="col-3 col-md">
        <h5>Категории</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Рассылки</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Телеграм боты</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Полезные утилиты</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Веб-приложения</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Микросервисы</a></li>
        </ul>
      </div>
      <div class="col-3 col-md">
        <h5>Дополнительно</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Мы пишем</a></li>
        </ul>
      </div>
      <div class="col-3 col-md">
        <h5>О нас</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Контакты</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>