{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

<div id="msProduct" class="shop-single-page">
    <div class="container">
        <div class="shop-single-title-container">
            <h1 itemprop="name" class="title">{{ title }}</h1>
            <div class="rating rating_active desktop-rating" itemprop="aggregateRating" >
</div>        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 mid-col-lg-6">
            <img src="{{ object.preview|mymedia }}" class="rounded mx-auto d-block" alt="Card image cap">

<div class="row justify-content-center msoptionsprice-gallery" id="msGallery">
    <div class="col-lg-2 swiper-container swiper-thumb">
        <div class="swiper-thumb-prev"><i class="fa fa-angle-left"></i></div>
        <div class="swiper-thumb-next"><i class="fa fa-angle-right"></i></div>

        <div class="cart-thumb shop-single-thumb-image shop-thumb-active"1>
            <div class="swiper-wrapper">
                                    <div class="product-miniature product-miniature_active swiper-slide">
                        <img src="/assets/cache_image/products/359/507a0a45-36e9-4a39-9b3d-aa9fc175706d_185x185_56b.webp" alt="" class="product-miniature__img">
                    </div>
                                            </div>
        </div>
    </div>
    <div class=" col-lg-10 swiper-container">
            <div class="swiper-thumb-prev-mob"><i class="fa fa-angle-left"></i></div>
            <div class="swiper-thumb-next-mob"><i class="fa fa-angle-right"></i></div>

        <div class="swiper-wrapper">
                            <div class="swiper-slide" data-rid="359" data-iid="113">
                    <a href="/assets/cache_image/products/359/507a0a45-36e9-4a39-9b3d-aa9fc175706d_0x0_f50.webp" data-fancybox="gallery" class="product-photo">
                        <img src="/assets/cache_image/products/359/507a0a45-36e9-4a39-9b3d-aa9fc175706d_700x840_d30.webp" alt="">
                    </a>
                </div>
                                </div>
        <div class="cart-slider-pagination"></div>
    </div>
</div>
            </div>
            <div class="col-lg-7 mid-col-lg-6">
                <div class="shop-single-content">
                    <form class="form-horizontal ms2_form msoptionsprice-product row" method="post" >
                        <div class="col-lg-7 shop-single-desc mid-col-lg-12">
                            <meta itemprop="description" content="">
                            <meta itemprop="mpn" content="LB-" />
                            <meta itemprop="sku" content="250359" />
                            <input type="hidden" name="id" value="359"/>

                            <div class="thumb-price product-action mid-shop-checkout" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                <meta itemprop="priceCurrency" content="RUB" />
                                <meta itemprop="price" content="12344" />
                                <div class="flex align-items-center">
                                    <span class="current-price-main current-price msoptionsprice-cost msoptionsprice-359">{{ price }}</span><span class="current-price" > ₽</span>

                                </div>
                                <div class="msFavoriterToggle wishlist-action action " data-id="359" data-bs-tooltip="tooltip" data-bs-placement="left" title="Добавить в избранное"><a><i class="fa fa-heart"></i></a></div>
                            </div>
                            <div></div>

                            <div class="product-quantity d-flex flex-wrap align-items-center mid-shop-checkout">
                                      <div class="product-action d-flex flex-wrap">
                                            <div class="action checkout-btn">
                                                                                            <button type="submit" class="btn btn-primary" name="ms2_action" value="cart/add" onclick="ym(47081481,'reachGoal','add-to-cart-product');ym(47081481,'reachGoal','add-to-cart');">Купить</button>
                                                                                    </div>
                                    </div>
                            </div>

                            <div class="description mid-checkout-content">
                                <p itemprop="description">{{ category }} <br> {{ description }}</p>
                                <p><small class="text-body-secondary fw-light">{{ created_at }}</small></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row shop-single-content shop-single-content-mid">
            <div class="shop-single-content-mid__elem">

    </div>
</div></div>
                </div>
            </div>
        </div>
{% endblock %}
