<!doctype html>
<html lang="en">
<div class="container py-3">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>K-Shop</title>
      <link href="/static/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">SkyStore</h5>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Главная</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Каталог</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#">Контакты</a>
      </nav>
  </div>
  </body>

  <main class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
        <p class="lead">SkyStore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели продать</p>
      </div>

    <main>
      <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Удобный сервис рассылок</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$ 140<small class="text-body-secondary fw-light">/mo</small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Неограниченная лицензия</li>
                <li>Поддержка</li>
                <li>Установка на сервер</li>
                <li>Получение обновлений</li>
              </ul>
              <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-3 col-md">
        <small class="d-block mb-3 text-body-secondary">SkyStore &copy; 2023 - {% now 'Y' %}</small>
      </div>
      <div class="col-3 col-md">
        <h5>Категории</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Рассылки</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Телеграм боты</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Полезные утилиты</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Веб-приложения</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Микросервисы</a></li>
        </ul>
      </div>
      <div class="col-3 col-md">
        <h5>Дополнительно</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Мы пишем</a></li>
        </ul>
      </div>
      <div class="col-3 col-md">
        <h5>О нас</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Контакты</a></li>
        </ul>
      </div>
    </div>
    </footer>
  </main>
</div>

<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>